@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

#headerBlock {
    margin: 0px;
    padding: 20px;
    height: 360px;
    overflow: hidden;
    position: relative;
}

#headerBlock h1 {
    position: absolute;
    bottom: 5px;
    left: 40px;
    border: 4px double black;
}

#headerImage {
    opacity: 0.7;
}

body {
    font-family: "Work Sans", sans-serif;
    font-size: 16pt;
    background-color: #f4a71b;
}



#OrderSection {
    background-color: black;
    color: white;
    border: 4px dashed white;
}

#BurgerSection {
    color: black;
    border: 4px dashed black;
}

button:hover {
    background-color: lightgrey;
    cursor:grabbing
}

section {
    margin: 15px;
    padding: 25px;
}



.allergies {
    font-weight: bold;
    text-align: left;
}

.wrapper {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 350px 350px 350px;
    grid-template-columns: 3;
}

.wrapper > div {
    background-color: white;
    padding: 10px;
    border: 8px double black;
    text-align: center;
}