@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

#headerBlock {
    margin: 15px;
    padding: 20px;
}


body {
    font-family: "Work Sans", sans-serif;
    font-size: 16pt;
    background-color: #f4a71b;
}



#OrderSection {
    background-color: black;
    color: white;
    border: 4px dashed white;
}

#BurgerSection {
    color: black;
    border: 4px dashed black;
}

button:hover {
    background-color: lightgrey;
    cursor:grabbing
}

section {
    margin: 15px;
    padding: 20px;
}

section > div {
    background-color: white;
    padding: 10px;
    border: 8px double black;
    width: 500px;
    height: 500px;
    text-align: center;
}

.allergies {
    font-weight: bold;
    text-align: left;
}

